
<div class="cmp-headingDescription" data-cmp-is="headingDescription">
    <div id="abcd">

    </div>
    <script id="abcd-props" type="application/json">{"title":"Heading 2","description": "This is Description","resourceType":"mysite/components/headingdescription"}</script>
    <script>
        if (window.callbacks === undefined) {
            window.callbacks = [];
        }
        callbacks.push({
            "uuid": "abcd",
            "resourceType": "mysite/components/headingdescription"
        });
    </script>
</div>